html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 15px Arial, sans-serif;
    overflow: hidden;
    background: #000;
    color: #fff;
 }
 
 #bar {
    height: 60px;
    overflow: hidden;
    padding: 12px;
    display: none;
 }
 
 #buttonBar {
    float: right;
 }
 
 #vmName {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
 }
 
 #container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    background: #000;
 }
 
 #container canvas:focus {
    outline: none;
 }
 
 #spinner {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 54px;
    height: 54px;
    margin-left: -27px;
    display: inline-block;
    text-align: center;
    opacity: 0.6;
    display: none;
 }
 
 #spinner div {
    width: 9%;
    height: 26%;
    background: #fff;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
 }
 
 #spinner .bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}
 #spinner .bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
 #spinner .bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
 #spinner .bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
 #spinner .bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
 #spinner .bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
 #spinner .bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
 #spinner .bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
 #spinner .bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
 #spinner .bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
 #spinner .bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
 #spinner .bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}
 
 @-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.25;}
 }
 