[submodule "bower_components/mist-list"]
	path = bower_components/mist-list
	url = ../mist-list
[submodule "bower_components/polyana-dashboard"]
	path = bower_components/polyana-dashboard
	url = ../polyana-dashboard
[submodule "bower_components/timerange-picker"]
	path = bower_components/timerange-picker
	url = ../timerange-picker
[submodule "bower_components/mist-insights"]
	path = bower_components/mist-insights
	url = ../mist-insights.git
